<!-- <div
  class="lg:w-10/12 md:w-11/12 sm:w-full w-full max-w-md mt-40 p-10 rounded-md shadow-lg mx-auto"
>
  <h3 class="text-3xl font-bold py-3">Reset Your Password</h3>
  <form [formGroup]="resetForm" class="flex flex-col">
    <span class="mb-2"> Please use a strong password </span>
    <div class="flex flex-col mb-4">
      <input
        formControlName="password"
        type="password"
        class="p-2 border border-gray-300 rounded"
        placeholder="Password"
      />
      <span
        *ngIf="
          resetForm.hasError('required', 'password') &&
          resetForm.controls['password'].dirty
        "
        class="text-red-500 mt-1 text-sm"
        >*Password is Required</span
      >
    </div>
    <div class="flex flex-col mb-4">
      <input
        formControlName="confirmPassword"
        type="password"
        class="p-2 border border-gray-300 rounded"
        placeholder="Confirm Password"
      />
      <span
        *ngIf="
          resetForm.hasError('required', 'confirmPassword') &&
          resetForm.controls['confirmPassword'].dirty
        "
        class="text-red-500 mt-1 text-sm"
        >*Confirm Password is Required</span
      >
      <span
        *ngIf="
          resetForm.hasError('confirmPasswordValidator', 'confirmPassword')
        "
        class="text-red-500"
        >*Password didn't match!</span
      >
    </div>
    <div class="mt-2">
      <button
        (click)="reset()"
        [disabled]="resetForm.invalid"
        [class.disabled]="resetForm.invalid"
        class="bg-indigo-500 w-1/2 rounded-md text-gray-50"
      >
        Submit
      </button>
    </div>
  </form>
</div> -->

<div class="container-lg mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card mt-4">
        <div class="card-body p-4">
          <h3 class="text-center font-weight-bold mb-4">Reset Your Password</h3>
          <form [formGroup]="resetForm" class="needs-validation" novalidate>
            <div class="mb-3 text-center">Please use a strong password</div>
            <div class="mb-3">
              <input
                formControlName="password"
                type="password"
                class="form-control"
                placeholder="Password"
                required
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  resetForm.get('password')?.invalid &&
                  resetForm.get('password')?.touched
                "
              >
                *Password is required
              </div>
            </div>
            <div class="mb-3">
              <input
                formControlName="confirmPassword"
                type="password"
                class="form-control"
                placeholder="Confirm Password"
                required
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  resetForm.get('confirmPassword')?.invalid &&
                  resetForm.get('confirmPassword')?.touched
                "
              >
                *Confirm Password is required
              </div>
              <div
                class="invalid-feedback"
                *ngIf="
                  resetForm.hasError(
                    'confirmPasswordValidator',
                    'confirmPassword'
                  )
                "
              >
                *Password didn't match!
              </div>
            </div>
            <div class="text-center">
              <button
                (click)="reset()"
                [disabled]="resetForm.invalid"
                class="btn btn-primary w-70 text-white"
              >
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
